.Menu {
  width: 100%;
  padding: 1rem 2rem 1.5rem 2rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.Icons {
  width: 25px;
}

.Labels {
  font-weight: 500;
}

@media (max-width: 648px) {
  .Menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }
}
