body {
  background-color: #f1f2f4;
}

main {
  min-height: 65vh;
}

.FONT_SAIRA {
  font-family: "Saira", sans-serif;
}

.FONT_INTER {
  font-family: "Inter", sans-serif;
}

@media (max-width: 648px) {
  main {
    min-height: 60vh;
  }
  footer {
    padding-bottom: 4rem;
  }
}
